<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pw-todo-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `pw-todo-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoList extends Polymer.Element {
      static get is() { return 'pw-todo-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'pw-todo-list'
          }
        };
      }
    }

    window.customElements.define(PwTodoList.is, PwTodoList);
  </script>
</dom-module>
